.skeleton-row {
  height: 50px;
  background: var(--disabled-color);
  position: relative;
  opacity: 0;
  transition: var(--transition);
  animation: loading .2s forwards ease-in-out;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
    );
    animation: shimmer 1s infinite;
    animation-delay: calc(var(--delay) * .08s);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.05;
  }
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.table_info_container {
  margin-top: var(--component-margin);
  padding-bottom: 10px;

  p {
    text-transform: uppercase;
    color: var(--disabled-color);
    font-size: 10px;
    padding-bottom: 5px;
  }
}

.table_container {
  overflow-x: auto;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);

  &.loading {
    cursor: not-allowed;
    overflow-x: hidden;
  }
}

.table {
  width: 1370px;
  table-layout: fixed;
  border-spacing: 0 5px;

  thead {
    font-weight: bold;
    text-transform: uppercase;

    .sort_header {
      position: relative;
      transition: var(--transition);

      &::after {
        content: var(--afterVal);
        display: inline-block;
        margin-left: 5px;
        transform: translateY(-2px);
      }
    }
  }

  td {
    padding: 10px;
  }
}

.table tbody tr {
  transition: var(--transition);

  &:hover {
    background-color: var(--hover-bg);
  }

  &.selected {
    background-color: var(--active-bg);
    border: var(--active-border)
  }

  td {
    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.bulk-btn-container {
  display: flex;
  align-items: stretch;
  gap: var(--component-margin);
  margin-bottom: var(--component-margin);
}


.bulk-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);

  .icon {
    transition: var(--transition);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
  }

  &:not(disabled):focus,
  &:not(:disabled):hover {
    color: var(--active-color);
    border-color: var(--active-color);
    background-color: var(--active-bg);

    .icon {
      fill: var(--active-color);
    }
  }
}

.checkbox-column {
  width: 40px;
  text-align: center;
}

.checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark {
      background-color: var(--active-color);
      border-color: var(--active-color);

      &:after {
        display: block;
      }
    }
  }
}

.checkmark {
  position: relative;
  display: inline-block;
  width: var(--icon-height);
  height: var(--icon-height);
  border: var(--wide-border);
  border-radius: var(--border-radius);
  transition: var(--transition);

  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.buttons_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;

  button {
    padding: 4px 8px;
    border: var(--border);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: var(--icon-height);
    }

    &.edit-btn:hover {
      background-color: var(--succes-bg);
      border-color: var(--success-color);
    }

    &.delete-button:hover {
      background-color: var(--error-bg);
      border-color: var(--error-color);
    }
  }
}

.pagination-controls {
  display: flex;
  align-items: stretch;
  gap: 5px;
  margin-top: var(--component-margin);
  flex-wrap: wrap;
}

.pagination-btn {
  padding: 10px 20px;
  border: var(--border);
  background-color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);

  &:hover:not(:disabled) {
    background-color: var(--active-bg);
    border-color: var(--active-color);
    color: var(--active-color);
  }

  &.active {
    color: var(--active-color);
    border-color: var(--active-color);
  }

  &:disabled {
    background-color: var(--hover-bg);
    color: var(--disabled-color);
    cursor: not-allowed;
  }
}

.error {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: var(--error-color);
  background-color: var(--error-bg);
  border: var(--error-border);
  border-radius: var(--border-radius);
}

.filters_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
  .filters_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .filters_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .bulk-btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .filters_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .filters_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 300px) {
  .bulk-btn-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
