.wrapper {
  border: var(--border);
  border-radius: var(--border-radius);
  background: white;
}

.section-header {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--hover-bg);
  border-bottom: var(--border);

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.05em;
    margin-right: 10px;
  }
}

.header-actions {
  display: flex;
  gap: 10px;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: var(--active-bg);
  border: var(--active-border);
  margin: 10px;
  border-radius: var(--border-radius);
  color: var(--active-color);

  & button {
    color: var(--active-color);
    font-size: 16px;
    transition: var(--transition);

    &:hover {
      color: var(--error-color);
    }
  }
}

.selector-container {
  padding: 10px;
}

.loading,
.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  color: var(--disabled-color);
}

.creation-form {
  padding: 10px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--disabled-color);
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 14px;
  transition: var(--transition);
  box-sizing: border-box;

  &:focus {
    border: var(--active-border);
    background: var(--active-bg);
  }

  &.error {
    border: var(--error-border);
    background: var(--error-bg);
    color: var(--error-color);

    &::placeholder {
      color: var(--error-color);
    }
  }
}

.error-container {
  height: 15px;
  opacity: 0;
  transition: var(--transition);
  overflow: hidden;
}

.error-container.show {
  opacity: 1;
}

.error-message {
  text-transform: uppercase;
  color: var(--error-color);
  font-size: 10px;
  letter-spacing: -0.05em;
}

.global-error {
  background: var(--error-bg);
  color: var(--error-color);
  padding: 10px 15px;
  border-radius: var(--border-radius);
  border: var(--error-border);
  margin-bottom: 15px;
  font-size: 13px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
  }

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    color: var(--active-color);
    border: var(--active-border);
    background-color: var(--active-bg);
  }
}

.btn-primary {
  color: var(--active-color);
  border: var(--active-border);
}

.btn-secondary {
  border: var(--border);

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    color: var(--error-color);
    border-color: var(--error-color);
    background-color: var(--error-bg);
  }
}

.nested-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

@media screen and (max-width: 500px) {
  .section-header {
    padding: 10px;
    flex-wrap: wrap;

    .header-actions {
      justify-content: space-between;
      width: 100%;
      gap: 5px;

      button {
        width: 100%;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .form-row {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }

  .form-actions {
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 350px) {
  .section-header {

    & button {
      padding: 10px 5px;
      width: 100%;
    }
  }

  .form-actions {
    gap: 10px;

    & button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 300px) {
  .section-header {
    .header-actions {
      flex-wrap: wrap;

      button {
        width: 100%;
      }
    }
  }
}

