.container {
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #ececec;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container h1 {
  font-weight: bold;
  letter-spacing: -0.05em;
  margin-bottom: 3px;
}

.container h2 {
  opacity: 0.5;
  font-size: 12px;
}
