.container {
  padding: 20px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid #ececec;
  margin-bottom: 10px;
  transition: .3s ease-in-out;
  &:hover {
    background-color: #f6f6f6;
  }
}

.container h1 {
  font-weight: bold;
  letter-spacing: -0.05em;
  margin-bottom: 3px;
}

.container h2 {
  color: gray;
  font-size: 12px;
}
