<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

<app-music-band-filter #mf (filterChange)="onFilter($event)"></app-music-band-filter>

<div class="flex mt-3 gap-2 align-items-center">
  <p-button
    (onClick)="loadMusicBands()"
    [disabled]="loading"
    [outlined]="true"
    icon="pi pi-refresh"
  />

  <p-button
    [disabled]="loading"
    [outlined]="true"
    icon="pi pi-plus"
    severity="secondary"
    label="Создать группу"
    (click)="openCreateDialog()"
  />

  <p-splitbutton
    [disabled]="!selectedBands.length || loading"
    [model]="selectItemsAction"
    [outlined]="true"
    icon="pi pi-cog"
    label="Действия ({{ selectedBands.length }})"
    [severity]="(!selectedBands.length || loading) ? 'secondary' : 'info'"
  />

  <p-button
    [disabled]="isFilterEmpty"
    [outlined]="true"
    icon="pi pi-filter-slash"
    severity="secondary"
    label="Очистить фильтры"
    (click)="onFilterClear()"
    [severity]="isFilterEmpty ? 'secondary' : 'info'"
  />
</div>

<p-panel showHeader="false" class="mt-3">
  <p-table
    #dt
    [(selection)]="selectedBands"
    (onSort)="customSort($event)"
    [breakpoint]="'768px'"
    [lazy]="true"
    [loading]="loading"
    [value]="bands"
    (selectionChange)="onSelectionChange()"
    [customSort]="true"
    class="mt-2 table"
    dataKey="id"
    [rowTrackBy]="trackByFn"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox [disabled]="loading || !bands.length"></p-tableHeaderCheckbox>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="id"
            style="width: 3rem; border-top-left-radius: 5px">
          <div class="flex items-center gap-2">
            ID
            <p-sortIcon field="id"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="name"
            style="width: 10rem">
          <div class="flex items-center gap-2">
            Название
            <p-sortIcon field="name"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="genre"
            style="width: 13rem">
          <div class="flex items-center gap-2">
            Жанр
            <p-sortIcon field="genre"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length"
            pSortableColumn="numberOfParticipants" style="width: 5rem">
          <div class="flex items-center gap-2">
            Участники
            <p-sortIcon field="numberOfParticipants"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="singlesCount"
            style="width: 5rem">
          <div class="flex items-center gap-2">
            Синглы
            <p-sortIcon field="singlesCount"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="albumsCount"
            style="width: 5rem">
          <div class="flex items-center gap-2">
            Альбомы
            <p-sortIcon field="albumsCount"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length"
            pSortableColumn="establishmentDate" style="width: 8rem">
          <div class="flex items-center gap-2">
            Основана
            <p-sortIcon field="establishmentDate"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="frontMan.name"
            style="width: 10rem">
          <div class="flex items-center gap-2">
            Лидер
            <p-sortIcon field="frontMan.name"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !bands.length" pSortableColumn="bestAlbum.name"
            style="width: 12rem">
          <div class="flex items-center gap-2">
            Лучший альбом
            <p-sortIcon field="bestAlbum.name"/>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-band>
      <tr (contextmenu)="onRowRightClick(band, $event)">
        <td><p-tableCheckbox [value]="band"></p-tableCheckbox></td>
        <td>{{ band.id }}</td>
        <td>{{ band.name }}</td>
        <td>{{ band.genre }}</td>
        <td>{{ band.numberOfParticipants }}</td>
        <td>{{ band.singlesCount }}</td>
        <td>{{ band.albumsCount }}</td>
        <td>{{ band.establishmentDate | date: 'MM/dd/yyyy' }}</td>
        <td>{{ band.frontMan?.name }}</td>
        <td>{{ band.bestAlbum?.name }}</td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="10">
          {{ generalError || 'Группы по условию не найдены' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<app-paginator
  [page]="pageableRequest.page"
  [size]="pageableRequest.size"
  [totalRecords]="totalRecords"
  (pageChange)="onPageChange($event)"
></app-paginator>

<p-dialog
  header="{{ dialogType === 'edit' ? 'РЕДАКТИРОВАТЬ МУЗЫКАЛЬНУЮ ГРУППУ' :
             dialogType === 'create' ? 'СОЗДАТЬ МУЗЫКАЛЬНУЮ ГРУППУ' :
             'ПРОСМОТР МУЗЫКАЛЬНОЙ ГРУППЫ' }}"
  [(visible)]="showDialog"
  [modal]="true"
  (onHide)="onDialogHide()"
  [focusOnShow]="false"
  [draggable]="false"
  [breakpoints]="{ '640px': '95vw' }"
  [style]="{ width: '600px' }"
>
  @if (showDialog) {
    <app-music-band-form
      [currentUser]="currentUser"
      [musicBand]="dialogMusicBand"
      [isEditMode]="dialogType === 'edit'"
      (cancel)="closeMusicBandDialog()"
      (musicBandSubmit)="handleMusicBandSubmit()"
      (modeChange)="handleModeChange($event)"
      (changesOccurred)="handleChangesOccurred($event)"
    ></app-music-band-form>
  }
</p-dialog>
