<div class="bulk-btn-container">
  <button
    class="bulk-btn refresh-button"
    (click)="getMusicBands(true)"
    [disabled]="loading">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="24px" fill="#000000">
      <path
        d="M483.08-200q-117.25 0-198.63-81.34-81.37-81.34-81.37-198.54 0-117.2 81.37-198.66Q365.83-760 483.08-760q71.3 0 133.54 33.88 62.23 33.89 100.3 94.58V-760h40v209.23H547.69v-40h148q-31.23-59.85-87.88-94.54Q551.15-720 483.08-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h42.46Q725.08-310.15 651-255.08 576.92-200 483.08-200Z"/>
    </svg>
  </button>
  <app-custom-select
    [options]="pageSizeSelectOptions"
    [(selected)]="filter.size"
    (selectedChange)="onPageSizeChange()"
  ></app-custom-select>
  <button
    class="bulk-btn delete-button"
    (click)="deleteSelectedBands()"
    [disabled]="getSelectedCount() === 0">
    Удалить выбранные ({{ getSelectedCount() }})
  </button>
</div>

@if (loading) {
  <div class="loading">Загрузка...</div>
} @else if (error) {
  <div class="error">{{ error }}</div>
} @else {
  <div class="table_container" [class.loading]="loading">
    <table class="table">
      <thead>
      <tr>
        <td class="checkbox-column">
          <label class="checkbox-label">
            <input
              type="checkbox"
              [checked]="isAllSelected"
              (change)="toggleSelectAll()">
            <span class="checkmark"></span>
          </label>
        </td>
        @for (header of sortableFields; track header.key) {
          <td class="sort_header" (click)="setSorting(header.key)">{{ header.label }}</td>
        }
        <td>Действия</td>
      </tr>
      </thead>
      <tbody>
        @for (band of bands; track band.id) {
          <tr [class.selected]="isBandSelected(band.id)">
            <td class="checkbox-column">
              <label class="checkbox-label">
                <input
                  type="checkbox"
                  [checked]="isBandSelected(band.id)"
                  (change)="toggleBandSelection(band.id)">
                <span class="checkmark"></span>
              </label>
            </td>
            <td>{{ band.id }}</td>
            <td>{{ band.name }}</td>
            <td>{{ band.frontMan.name }}</td>
            <td>{{ parseMusicGenre(band.genre) }}</td>
            <td>{{ band.bestAlbum.name }}</td>
            <td>{{ band.albumsCount }}</td>
            <td>{{ band.singlesCount }}</td>
            <td>{{ band.numberOfParticipants }}</td>
            <td>{{ band.establishmentDate | date: 'dd.MM.yyyy' }}</td>
            <td>{{ band.coordinates.x }} : {{ band.coordinates.y }}</td>
            <td>
              <div class="buttons_container">
                <button class="edit-btn">
                  <img src="/edit.svg" alt="Изменить">
                </button>
                <button
                  class="delete-button"
                  (click)="deleteBand(band.id, $event)">
                  <img src="/delete.svg" alt="Удалить">
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="pagination-controls">

    <button
      class="pagination-btn"
      (click)="goToPage(0)"
      [disabled]="filter.page === 0">
      <<
    </button>

    <button
      class="pagination-btn"
      (click)="goToPage(filter.page - 1)"
      [disabled]="filter.page === 0">
      <
    </button>

    @for (page of getPageNumbers(); track page) {
      <button
        class="pagination-btn {{ page === filter.page ? 'active' : '' }}"
        (click)="goToPage(page)">
        {{ page + 1 }}
      </button>
    }

    <button
      class="pagination-btn"
      (click)="goToPage(filter.page + 1)"
      [disabled]="filter.page >= totalPages - 1">
      >
    </button>

    <button
      class="pagination-btn"
      (click)="goToPage(totalPages-1)"
      [disabled]="filter.page >= totalPages - 1">
      >>
    </button>
  </div>
  <p class="table_info">Найдено: {{ totalElements }}, страниц: {{ totalPages }}</p>
}
