<!-- music-band-modal.component.html -->
@if (isOpen()) {
  <div
    #modalOverlay
    class="modal-overlay"
    (click)="onOverlayClick($event)"
    (keydown)="onKeydown($event)"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="'modal-title'"
    [attr.aria-describedby]="'modal-description'"
  >
    <div
      #modalContent
      class="modal-content"
      tabindex="-1"
    >

      <div class="modal-body" id="modal-description">
        <app-music-band-form
          [mode]="config.mode"
          [musicBandId]="config.musicBandId"
          [initialData]="config.initialData"
          (formSubmit)="onFormSubmit($event)"
          (formCancel)="onFormCancel()"
        ></app-music-band-form>
      </div>
    </div>
  </div>
}
