<p-button
  (click)="openDialog()"
  [disabled]="disabled"
  icon="pi pi-upload"
  label="Импортировать группы"
  outlined
  severity="secondary"
/>

<p-dialog
  (onHide)="hideDialog()"
  [(visible)]="showDialog"
  [breakpoints]="{ '640px': '95vw' }"
  [draggable]="false"
  [focusOnShow]="false"
  [modal]="true"
  [style]="{ width: '500px' }"
  header="ИМПОРТ ГРУПП"
>
  @if (formType === 'import') {
    <p-fileupload
      #fu
      (onSelect)="select($event)"
      [disabled]="loading"
      [multiple]="false"
      [styleClass]="hasFiles ? 'no-border' : 'with-border'"
      class="upload-card"
    >
      <ng-template #content
                   let-files
                   let-removeFileCallback="removeFileCallback"
      >
        <div>
          @for (file of files; track file.name) {
            <div class="file-wrapper">
              <div class="file-item">
                {{ file.name }}
                <span>({{ formatFileSize(file.size) }})</span>
              </div>
            </div>
          }
        </div>
        @if (hasFiles) {
          <div class="flex gap-2">
            <p-button
              (click)="upload()"
              [loading]="loading"
              class="flex-1"
              fluid
              icon="pi pi-upload"
              label="Загрузить"
              outlined
            />
            <p-button
              (click)="removeFileCallback()"
              [disabled]="loading"
              icon="pi pi-file"
              label="Другой файл"
              outlined
              severity="secondary"
            />
          </div>
        }
      </ng-template>
      <ng-template #empty>
        <div (click)="choose()" class="empty-card">
          <i class="pi pi-upload" style="font-size: 4rem; opacity: 0.3"></i>
          <p
            style="text-transform: uppercase; font-size: 12px; opacity: 0.3; max-width: 60%; text-align: center; line-height: 1.1rem">
            Нажмите для выбора или перетащите сюда файл
          </p>
        </div>
        <p class="supported-formats">Поддерживаемые форматы:
          ({{ supportedFormats }})</p>
      </ng-template>
    </p-fileupload>
  } @else if (importOperation) {
    <p-progress-bar [color]="progressBarColor" [value]="progressBarValue">
      <ng-template #content>
        {{ importOperation.status }}
      </ng-template>
    </p-progress-bar>
    <p-panel class="mt-3" collapsed="true" toggleable="true">
      <ng-template #header>
        <p class="import-header">
          {{ importOperation.filename }}
          <span>/ {{ importOperation.id }}</span>
        </p>
      </ng-template>
      <div class="import-details">
        @if (importOperation.createdEntitiesCount) {
          <p>Создано сущностей: {{ importOperation.createdEntitiesCount }}</p>
        }
        @if (importOperation.errorMessage) {
          <p>Ошибка: {{ importOperation.errorMessage }}</p>
        }
        <p>Создано пользователем: {{ importOperation.createdBy }}</p>
        <p>Начато
          в: {{ importOperation.startedAt | date: 'dd/MM/yyyy h:mm:ss' }}</p>
        <p>Завершено
          в: {{ importOperation.completedAt | date: 'dd/MM/yyyy h:mm:ss' }}</p>
      </div>
    </p-panel>
    <div class="flex mt-3 gap-2">
      <p-button
        (click)="toImport()"
        icon="pi pi-file"
        class="flex-1"
        fluid
        label="Выбор файла"
        outlined
        severity="secondary"
      />
      <p-button
        icon="pi pi-times"
        label="Закрыть"
        outlined
        severity="secondary"
        (click)="hideDialog()"
      />
    </div>
  }
</p-dialog>
