<p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>

<app-user-filter #uf
                 (filterChange)="onFilter($event)"></app-user-filter>

<div class="flex mt-3 gap-2 align-items-center flex-wrap">
  <p-button
    (onClick)="loadUsers()"
    [disabled]="loading"
    [outlined]="true"
    icon="pi pi-refresh"
  />
  <p-button
    (click)="onFilterClear()"
    [disabled]="isFilterEmpty"
    [outlined]="true"
    [severity]="isFilterEmpty ? 'secondary' : 'info'"
    icon="pi pi-filter-slash"
    label="Очистить фильтры"
    severity="secondary"
  />
</div>

<p-panel class="mt-3" showHeader="false">
  <p-table
    #dt
    (onSort)="customSort($event)"
    [breakpoint]="'768px'"
    [customSort]="true"
    [lazy]="true"
    [loading]="loading"
    [rowTrackBy]="trackByFn"
    [value]="users"
    class="mt-2 table"
    dataKey="id"
  >
    <ng-template #header>
      <tr>
        <th [pSortableColumnDisabled]="loading || !users.length"
            pSortableColumn="id"
            style="width: 3rem; border-top-left-radius: 5px">
          <div class="flex items-center gap-1">
            ID
            <p-sortIcon field="id"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !users.length"
            pSortableColumn="username"
            style="width: 13rem">
          <div class="flex items-center gap-1">
            Имя пользователя
            <p-sortIcon field="username"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !users.length"
            pSortableColumn="roles"
            style="width: 15rem">
          <div class="flex items-center gap-1">
            Роли
            <p-sortIcon field="roles"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !users.length"
            pSortableColumn="createdAt" style="width: 17rem">
          <div class="flex items-center gap-1">
            Создан
            <p-sortIcon field="createdAt"/>
          </div>
        </th>
        <th [pSortableColumnDisabled]="loading || !users.length"
            pSortableColumn="updatedAt" style="width: 17rem">
          <div class="flex items-center gap-1">
            Обновлён
            <p-sortIcon field="updatedAt"/>
          </div>
        </th>
        <th style="width: 3rem">
          <div class="flex items-center gap-1">
            Действия
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr (contextmenu)="onRowRightClick(user, $event)">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.roles.join(', ') }}</td>
        <td>{{ user.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
        <td>{{ user.updatedAt | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
        <td>
          <div class="flex gap-1">
            @if (!canUpdate(user)) {
              <p-button
                icon="pi pi-pencil"
                [disabled]="true"
                outlined
                severity="secondary"
                size="small"
                pTooltip="Вы не можете обновлять себя"
              />
            } @else {
              <p-button
                (onClick)="openEditDialog(user)"
                icon="pi pi-pencil"
                [disabled]="loading || !canUpdate(user)"
                outlined
                severity="secondary"
                size="small"
              />
            }
            @if (!canUpdate(user)) {
              <p-button
                (onClick)="confirmDelete(user)"
                icon="pi pi-trash"
                [disabled]="true"
                outlined
                severity="secondary"
                size="small"
                pTooltip="Вы не можете удалить себя"
              />
            } @else {
              <p-button
                (onClick)="confirmDelete(user)"
                icon="pi pi-trash"
                [disabled]="loading || !canUpdate(user)"
                outlined
                severity="secondary"
                size="small"
              />
            }

          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="7">
          {{ generalError || 'Пользователи по условию не найдены' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<app-paginator
  (pageChange)="onPageChange($event)"
  [page]="pageableRequest.page"
  [size]="pageableRequest.size"
  [totalRecords]="totalRecords"
></app-paginator>

<p-dialog
  (onHide)="onDialogHide()"
  [(visible)]="showDialog"
  [breakpoints]="{ '640px': '95vw' }"
  [draggable]="false"
  [focusOnShow]="false"
  [modal]="true"
  [style]="{ width: '600px' }"
  header="РЕДАКТИРОВАТЬ ПОЛЬЗОВАТЕЛЯ"
>
  @if (showDialog && dialogUser) {
    <app-user-form
      (cancel)="closeUserDialog()"
      (changesOccurred)="handleChangesOccurred($event)"
      (userSubmit)="handleUserSubmit($event)"
      [currentUser]="currentUser"
      [user]="dialogUser"
    ></app-user-form>
  }
</p-dialog>
