:host {
  display: inline-block;
}

.custom-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  outline: none;
  background: white;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  margin: 0;
  min-height: 44px;

  ::ng-deep {
    svg, .icon {
      transition: var(--transition);
      height: var(--icon-height);
      width: var(--icon-height);
      fill: currentColor;
    }

    &:not(:only-child) {
      svg:first-child, .icon:first-child {
        margin-right: 8px;
      }
    }
  }

  &--default {
  }

  &--primary {
    color: var(--active-color);
    background: var(--active-bg);
    border: var(--active-border);
  }

  &--danger {
    color: var(--error-color);
    background: var(--error-bg);
    border: var(--error-border);
  }

  &--icon {
    min-width: 44px;
    width: 44px;
    padding: 10px;

    ::ng-deep {
      svg, .icon {
        margin: 0 !important;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
  }

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    color: var(--active-color);
    border: var(--active-border);
    background-color: var(--active-bg);

    ::ng-deep {
      svg, .icon {
        fill: var(--active-color);
      }
    }
  }

  &--primary:not(:disabled):focus,
  &--primary:not(:disabled):hover {
    background-color: var(--active-color);
    color: white;
    border-color: var(--active-color);

    ::ng-deep {
      svg, .icon {
        fill: white;
      }
    }
  }

  &--danger:not(:disabled):focus,
  &--danger:not(:disabled):hover {
    background-color: var(--error-color);
    color: white;
    border-color: var(--error-color);

    ::ng-deep {
      svg, .icon {
        fill: white;
      }
    }
  }

  &:not(:disabled):active {
    transform: translateY(1px);
  }
}
