:host ::ng-deep {
  .custom-profile-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: uppercase;
    font-size: 10px;

    .role {
      font-size: 7px;
      opacity: 0.5;
    }
  }
}
