.container {
  border-radius: 5px;
  text-transform: uppercase;
  font-family: arial, serif;
  display: flex;
}

.nav-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  margin-right: 10px;
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(0,0,0,0);
}

.nav-item .nav-icon {
  width: 20px;
  margin-right: 10px;
}

.nav-item--active {
  background-color: #ececec;
}

.nav-item:hover {
  background-color: #ececec;
}

.nav-item:active {
  border: 1px solid #dadada;
}
