nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--component-margin);
  gap: 10px;
}

a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  border: var(--border);
  transition: var(--transition);

  span {
    text-align: center;
  }

  svg {
    height: var(--icon-height);
    margin-right: var(--component-margin);
    transition: var(--transition);
  }

  &.active {
    border-color: var(--active-color);
    color: var(--active-color);

    & svg {
      fill: var(--active-color);
    }
  }

  &:focus,
  &:hover {
    background-color: var(--active-bg);
    border-color: var(--active-color);
    color: var(--active-color);

    & svg {
      fill: var(--active-color);
    }
  }
}

@media screen and (max-width: 600px) {
  a {
    flex: 1;

    svg {
      display: none;
    }
  }
}
