.container {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  margin-bottom: calc(2 * var(--component-margin));
  gap: 10px;
}

.nav-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: black;
  border-radius: var(--border-radius);
  border: var(--border);
  transition: var(--transition);

  .nav-icon {
    height: var(--icon-height);
    margin-right: var(--component-margin);
    transition: var(--transition);
  }

  &.nav-item--active {
    border-color: var(--active-color);
    color: var(--active-color);

    & .nav-icon {
      fill: var(--active-color);
    }
  }

  &:focus,
  &:hover {
    background-color: var(--active-bg);
    border-color: var(--active-color);
    color: var(--active-color);

    & .nav-icon {
      fill: var(--active-color);
    }
  }
}

@media screen and (max-width: 600px) {
  .nav-item .nav-icon {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .nav-item {
    padding: 10px 5px;
  }
}
