.operations-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px 0;
}

.operation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
}

.description {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-transform: uppercase;
  border-right: var(--border);
  padding-right: 20px;;

  .header {

    h3 {
      font-weight: bold;
      letter-spacing: -0.05em;
      margin-bottom: 2px;
    }

    p {
      max-width: 250px;
      font-size: 10px;
      text-align: justify;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    color: var(--disabled-color);
  }

  input {
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover,
    &:focus {
      background-color: var(--active-bg);
      border-color: var(--active-color);
    }

    &.error {
      border-color: var(--error-color);
      color: var(--error-color);
      background-color: var(--error-bg);

      &::placeholder {
        color: var(--error-color);
      }
    }
  }
}

.btn {
  padding: 10px 20px;
  border: var(--active-border);
  border-radius: var(--border-radius);
  color: var(--active-color);
  transition: var(--transition);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: var(--border-color);
    color: black;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      border-color: var(--active-color);
      background-color: var(--active-bg);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.error-container {
  opacity: 0;
  height: 10px;
  font-size: 10px;
  color: var(--error-color);
  margin-bottom: 5px;

  &.show {
    animation: visible .3s forwards;
  }
}

.result {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  padding-left: 20px;

  h4 {
    margin-bottom: 5px;
  }

  text-transform: uppercase;
  color: var(--disabled-color);
  font-size: 12px;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
