name: Deploy Angular to Production

on:
  push:
    branches: [ frontend ]

env:
  NODE_VERSION: '20.x'
  DEPLOY_FOLDER: '/var/www/band-manager'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Angular (production)
        run: npm run build -- --configuration=production --base-href="/"

      - name: Upload dist/BandManagerFrontend/browser
        uses: actions/upload-artifact@v4
        with:
          name: angular-app
          path: dist/BandManagerFrontend/browser/
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/frontend'

    steps:
      - name: Download dist files
        uses: actions/download-artifact@v4
        with:
          name: angular-app
          path: artifact-browser

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Add server to known_hosts
        run: |
          ssh-keyscan -H 83.166.246.71 >> ~/.ssh/known_hosts

      - name: Clean and deploy
        env:
          DEPLOY_FOLDER: /var/www/band-manager
        run: |
          ssh root@83.166.246.71 "rm -rf $DEPLOY_FOLDER/* && mkdir -p $DEPLOY_FOLDER"
          scp -r ./artifact-browser/* root@83.166.246.71:$DEPLOY_FOLDER/
