name: Deploy Angular to Production

on:
  push:
    branches: [ frontend ]

env:
  NODE_VERSION: '20.x'
  DEPLOY_FOLDER: '/var/www/band-manager'
  SERVER_IP: '83.166.246.71'  # IP твоего сервера

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci
          npm install rimraf@^4.0.0 glob@^9.3.0 --save-dev

      - name: Build Angular application
        run: |
          npm run build -- --configuration=production --output-path=dist/browser --base-href="/"

      - name: Upload dist folder
        uses: actions/upload-artifact@v4
        with:
          name: angular-dist
          path: dist/browser
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/frontend'

    steps:
      - name: Download dist files
        uses: actions/download-artifact@v4
        with:
          name: angular-app
          path: dist-artifact

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Add host to known_hosts
        run: ssh-keyscan 83.166.246.71 >> ~/.ssh/known_hosts

      - name: Deploy browser/ content to server
        env:
          DEPLOY_FOLDER: /var/www/band-manager
        run: |
          # очистить директорию на сервере
          ssh root@83.166.246.71 "rm -rf $DEPLOY_FOLDER/* && mkdir -p $DEPLOY_FOLDER"

          # загрузить ТОЛЬКО содержимое browser/
          scp -r dist-artifact/browser/* root@83.166.246.71:$DEPLOY_FOLDER/
