.grid-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(250px, 3fr);
  gap: 1rem;
}

label {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.7;
  letter-spacing: -0.05em;
}

.music-band-panel {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.empty-result {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 1.1rem;
  letter-spacing: -0.05em;
}

p-message {
  text-transform: uppercase;
  --p-message-text-sm-font-size: 10px;
  max-width: 100%;
}

::ng-deep p-panel.p-0 .p-panel-content {
  padding: 0 !important;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
